.fb-window {
  opacity: 0;
  transition: opacity 0.2s linear;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1004;
  color: #ffffff;

  background: rgba(0, 0, 0, 1);

  &.on {
    opacity: 1;
  }

  & > iframe {
    border: 0;
  }

  &-lock {
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }
}
