.iframeWrapper {
  position: relative;
  height: 0;

  & ~ & {
    margin-top: $spacer * 2;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.i_wide {
  padding-bottom: 55%; /* wide */
  @include media-breakpoint-up(md) {
    padding-bottom: 35%;
  }
}

.i_swide {
  padding-bottom: 38%; /* super wide */
  @include media-breakpoint-up(lg) {
    padding-bottom: 20%;
  }
}

.i_video {
  padding-bottom: 56.25%; /* 16:9 */
}

.i_square {
  padding-bottom: 95.6%; /* 1:1 */
}

.i_43 {
  padding-bottom: 80%; /* 4/3 */
}
