.substrate {
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &:before {
    content: '';
    background-color: rgba($brand-primary, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.substrate-image {
  width: 100%;
  height: 100%;
}
