//
// Global font smoothing
//
* {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: $brand-primary;
  color: $white;
}

//
// Headings
//
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  letter-spacing: $headings-letter-spacing;
  text-transform: $font-transform;
}

h1,
.h1 {
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}

.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
  line-height: $lead-line-height;
}

// Type display classes
.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: $display-line-height;
}

.display-2 {
  font-size: $display4-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
  @include media-breakpoint-up(md) {
    font-size: $display2-size;
  }
}

.display-3 {
  font-size: $font-size-h1;
  font-weight: $display3-weight;
  line-height: $display-line-height;
  @include media-breakpoint-up(md) {
    font-size: $display3-size;
  }
}

.display-4 {
  font-size: $font-size-h1;
  font-weight: $display4-weight;
  line-height: $display-line-height;
  @include media-breakpoint-up(md) {
    font-size: $display4-size;
  }
}

//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

// Blockquotes
.blockquote {
  padding: ($spacer / 2) $spacer;
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
  border-left: $blockquote-border-width solid $blockquote-border-color;
}
