<section class="article_bounch">
  <div class="layout_main">
    <div class="h2 display-3 siteHeader-header">
      Популярное:
    </div>
  </div>
  <div class="editor_squize">
    <div class="swiper-container slider slider-carousel" data-component="slider"
         data-config="carousel">
      <div class="swiper-wrapper">

        <div class="swiper-slide">

          <div id="post-3108"
               class="post-preview col o-0 format-wide post-3108 post type-post status-publish format-image has-post-thumbnail hentry category-vse tag-17-vek tag-18-vek tag-19-vek tag-seks tag-ukraina post_format-post-format-image">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2017/05/сoverWAS_petting.jpg?fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;rect=445%2C0%2C590%2C940&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <section class="post-entry">
              <header class="entry-header row">

                <div class="date-entry">


                </div>

                <div class="views-entry">

                  <svg class="icon icon-eye " aria-hidden="true" role="img">
                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                  </svg>


                  <div id="counter-data-3108">34451</div>

                </div>

              </header>

              <div class="entry-content">
                <h2 class="h1 h-entry"><a class="lnk-entry"
                                          href="http://dev.was.media.lc/2017-05-17-sex-v-ukrainskih-selah/"
                                          rel="bookmark">Сексуальные игры в украинском селе: терки,
                    секеляние, притулы</a></h2>

              </div>

              <footer class="entry-footer">

              </footer>

            </section>
          </div>
        </div>
        <div class="swiper-slide">

          <div id="post-8395"
               class="post-preview col o-0 format-wide post-8395 post type-post status-publish format-image has-post-thumbnail hentry category-vse tag-aborigeny tag-vojna tag-rossijskaja-imperija tag-rossija tag-sibir post_format-post-format-image">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2017/08/coverWAS_Сhukchi-1.jpg?fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;rect=317%2C0%2C464%2C739&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <section class="post-entry">
              <header class="entry-header row">

                <div class="date-entry">


                </div>

                <div class="views-entry">

                  <svg class="icon icon-eye " aria-hidden="true" role="img">
                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                  </svg>


                  <div id="counter-data-8395">30230</div>

                </div>

              </header>

              <div class="entry-content">
                <h2 class="h1 h-entry"><a class="lnk-entry"
                                          href="http://dev.was.media.lc/2017-08-09-chukchi/"
                                          rel="bookmark">В Российской империи не смеялись над
                    чукчами, и вот почему</a></h2>

              </div>

              <footer class="entry-footer">

              </footer>

            </section>
          </div>
        </div>
        <div class="swiper-slide">

          <div id="post-3700"
               class="post-preview col o-0 format-wide post-3700 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-krov tag-oun tag-specsluzhby tag-sssr tag-ukraina">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2017/05/coverwas_stashinski_vol2.png?auto=format&amp;fit=crop&amp;h=510&amp;q=75&amp;rect=110%2C0%2C320%2C510&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <section class="post-entry">
              <header class="entry-header row">

                <div class="date-entry">


                </div>

                <div class="views-entry">

                  <svg class="icon icon-eye " aria-hidden="true" role="img">
                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                  </svg>


                  <div id="counter-data-3700">13831</div>

                </div>

              </header>

              <div class="entry-content">
                <h2 class="h1 h-entry"><a class="lnk-entry"
                                          href="http://dev.was.media.lc/2017-05-19-kak-gotovili-ubijcu-bandery/"
                                          rel="bookmark">Как готовили убийцу Бандеры: Материалы
                    рассекреченного агентурного дела</a></h2>

              </div>

              <footer class="entry-footer">

              </footer>

            </section>
          </div>
        </div>
        <div class="swiper-slide">

          <div id="post-1126"
               class="post-preview col o-0 format-wide post-1126 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-vojna tag-izrail tag-kitaj tag-krov tag-kuba tag-top tag-juzhnaja-amerika">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2017/04/сoverWAS_konflikty_sml.png?auto=format&amp;crop=faces&amp;fit=crop&amp;h=510&amp;q=75&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <section class="post-entry">
              <header class="entry-header row">

                <div class="date-entry">


                </div>

                <div class="views-entry">

                  <svg class="icon icon-eye " aria-hidden="true" role="img">
                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                  </svg>


                  <div id="counter-data-1126">13780</div>

                </div>

              </header>

              <div class="entry-content">
                <h2 class="h1 h-entry"><a class="lnk-entry"
                                          href="http://dev.was.media.lc/2017-05-05-5-bessmyslennyh-vojn/"
                                          rel="bookmark">Топ-5 самых жестоких из напрасных войн в
                    истории</a></h2>

              </div>

              <footer class="entry-footer">

              </footer>

            </section>
          </div>
        </div>
        <div class="swiper-slide">

          <div id="post-1941"
               class="post-preview col o-0 format-wide post-1941 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-kiev tag-prestupleniya tag-sssr tag-ukraina">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2017/04/overwas_oni_ee_besili.jpg?fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;rect=1113%2C0%2C590%2C940&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <section class="post-entry">
              <header class="entry-header row">

                <div class="date-entry">


                </div>

                <div class="views-entry">

                  <svg class="icon icon-eye " aria-hidden="true" role="img">
                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                  </svg>


                  <div id="counter-data-1941">12739</div>

                </div>

              </header>

              <div class="entry-content">
                <h2 class="h1 h-entry"><a class="lnk-entry"
                                          href="http://dev.was.media.lc/2017-05-04-sovetskaya-seriynaya-ubiytsa/"
                                          rel="bookmark">1987 год, Киев, последняя казнь женщины в
                    истории СССР</a></h2>

              </div>

              <footer class="entry-footer">

              </footer>

            </section>
          </div>
        </div>
        <div class="swiper-slide">

          <div id="post-707"
               class="post-preview col o-0 format-wide post-707 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-vlast tag-novoe-vremja tag-seks tag-srednevekove tag-franciya">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2017/04/сoverWAS_Kurtizanki.jpg?crop=faces&amp;fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <section class="post-entry">
              <header class="entry-header row">

                <div class="date-entry">


                </div>

                <div class="views-entry">

                  <svg class="icon icon-eye " aria-hidden="true" role="img">
                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                  </svg>


                  <div id="counter-data-707">12019</div>

                </div>

              </header>

              <div class="entry-content">
                <h2 class="h1 h-entry"><a class="lnk-entry"
                                          href="http://dev.was.media.lc/2017-04-11-kurtizanki-koroley-franciya/"
                                          rel="bookmark">Первая сексуальная революция во Франции:
                    Фрейлины против королев</a></h2>

              </div>

              <footer class="entry-footer">

              </footer>

            </section>
          </div>
        </div>
        <div class="swiper-slide">

          <div id="post-6040"
               class="post-preview col o-0 format-wide post-6040 post type-post status-publish format-image has-post-thumbnail hentry category-vse tag-vojna tag-drevnjaja-grecija tag-eda post_format-post-format-image">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2017/06/cowerwas_spartancy_02.jpg?fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;rect=587%2C0%2C802%2C1278&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <section class="post-entry">
              <header class="entry-header row">

                <div class="date-entry">


                </div>

                <div class="views-entry">

                  <svg class="icon icon-eye " aria-hidden="true" role="img">
                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                  </svg>


                  <div id="counter-data-6040">11244</div>

                </div>

              </header>

              <div class="entry-content">
                <h2 class="h1 h-entry"><a class="lnk-entry"
                                          href="http://dev.was.media.lc/2017-06-28-spartancy/"
                                          rel="bookmark">Спартанцы были настолько суровы,
                    что&#8230;</a></h2>

              </div>

              <footer class="entry-footer">

              </footer>

            </section>
          </div>
        </div>
        <div class="swiper-slide">

          <div id="post-220"
               class="post-preview col o-0 format-wide post-220 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-20-vek tag-medicina tag-science tag-seks tag-franciya">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2017/03/CoverWAS_BONAPART_VAGINY.jpg?crop=faces&amp;fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="Marie Bonaparte sex"
                 data-feature="1"/>


            <section class="post-entry">
              <header class="entry-header row">

                <div class="date-entry">


                </div>

                <div class="views-entry">

                  <svg class="icon icon-eye " aria-hidden="true" role="img">
                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                  </svg>


                  <div id="counter-data-220">10517</div>

                </div>

              </header>

              <div class="entry-content">
                <h2 class="h1 h-entry"><a class="lnk-entry"
                                          href="http://dev.was.media.lc/2017-03-20-mari-bonapart/"
                                          rel="bookmark">Зачем принцесса Мари Бонапарт измеряла
                    вагины?</a></h2>

              </div>

              <footer class="entry-footer">

              </footer>

            </section>
          </div>
        </div>
        <div class="swiper-slide">

          <div id="post-3244"
               class="post-preview col o-0 format-wide post-3244 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-aborigeny tag-indejcy tag-krov tag-usa tag-top tag-tradicii">


            <img width="320" height="510"
                 src="https://was.imgix.net/wp-content/uploads/2017/05/coverwas_7-shokirujushhih-faktov-ob-indejcah.jpg?crop=faces&amp;fit=crop&amp;fm=pjpg&amp;h=510&amp;q=75&amp;w=320"
                 class="attachment-thumbnail size-thumbnail wp-post-image" alt="" data-feature="1"/>


            <section class="post-entry">
              <header class="entry-header row">

                <div class="date-entry">


                </div>

                <div class="views-entry">

                  <svg class="icon icon-eye " aria-hidden="true" role="img">
                    <use href="#icon-eye" xlink:href="#icon-eye"></use>
                  </svg>


                  <div id="counter-data-3244">8526</div>

                </div>

              </header>

              <div class="entry-content">
                <h2 class="h1 h-entry"><a class="lnk-entry"
                                          href="http://dev.was.media.lc/2017-05-24-7-shokirujushhih-faktov-ob-indejcah/"
                                          rel="bookmark">7 фактов в оправдание геноцида индейцев:
                    Мнение ковбоя</a></h2>

              </div>

              <footer class="entry-footer">

              </footer>

            </section>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
