<aside id="asideShares" class="media-aside overlay z-overlay-bottom">
  <div class="layout_main">
    <div class="row">
      <p class="h2">Поделись историей</p>

      <%- include social-shares -%>

      <a href="#comment" class="media-icons social-gotocomments btn btn-secondary btn-lg btn-block"
         role="button" aria-pressed="true" data-component="overlay" data-target="asideShares"
         data-toggle="close" data-options="anchor">
        <svg class="icon icon-xs" aria-hidden="true" role="img">
          <use href="#icon-messanger" xmlns:xlink="http://www.w3.org/1999/xlink"
               xlink:href="#icon-messanger"></use>
        </svg>
        Комментировать
      </a>

    </div>
  </div>
</aside>
