<section id="comment" class="article_comment">
  <div class="editor_txt">
    <div class="layout_main">
      <div id="disqus_thread" class="editor_img-lg editor_offset"></div>
      <div class="comments-fixer" aria-hidden="true"></div>
    </div>
  </div>
</section>
