<footer class="siteFooter" role="contentinfo">
  <div class="layout_main">
    <div class="row footer_main">
      <div class="col footer_copyright">
        <h6 class="siteLogo">
          <a class="siteLogo_lnk wasLogo" href="https://was.media/" rel="home">
            WAS
          </a>
          <a href="https://ru.depositphotos.com/" class="siteLogo_lnk depoLogo" target="_blank"
             rel="dofollow noopener noreferrer">
            by&nbsp;depositphotos
          </a>
        </h6>

        <p>© 2019.
          WAS. Все права защищены.<br> Любое использование материалов<br> допускается только с согласия редакции</p>
      </div>
      <div class="col footer_media">
        <%- include social-links.ejs -%>
      </div>
      <div class="col footer_tools">
        <div class="foot_tools_i">
          Проекты&nbsp;<a href="https://ru.depositphotos.com" target="_blank"
                          rel="dofollow noopener noreferrer">Depositphotos</a>:
          <a href="https://birdinflight.com/ru/" target="_blank" rel="dofollow noopener noreferrer">Bird&nbsp;In&nbsp;Flight</a>,
          WAS.
        </div>
        <div class="foot_tools_i">
          Пишите редакции: <em>
            <a href="mailto:team@was.media">team@was.media</a>
          </em>
        </div>
      </div>
    </div>
  </div>
</footer>
