<nav id="mobNavbar" class="navbar mobNavbar">
  <div class="navbarLogo">
    <span class="wasLogo badge b-round badge-brand" data-component="overlay" data-target="header"
          data-toggle="open" tabindex="1" on="tap:sidebar.toggle" role="link note bar">W</span>
  </div>

  <div class="navbarSearch" on="tap:social-shares" role="button" tabindex="1">
    <a class="lang-link btn btn-xl btn-invert" hreflang="uk-UK" href="#uk" lang="uk-UK">
      <ul class="lang-switcher">
        <li class='lang-item lang-item-11 lang-item-ru current-language'>
          Ru
        </li>
        <li class='lang-item lang-item-305 lang-item-uk '>
          Ua
        </li>
      </ul>
    </a>
  </div>
</nav>

<div class="mobNavbarShare badge badge-md b-round badge-brand">
  <svg class="icon icon-like icon-md icon-inter" aria-hidden="true" role="img"
       data-component="overlay" data-target="asideShares" data-toggle="toggle"
       data-direction="right">
    <use href="#icon-like" xlink:href="#icon-like"></use>
  </svg>
</div>
