<ul class="navbar-nav">
  <li class="nav-item hidden-md-down">
    <a href="https://www.youtube.com/channel/UC1fsAAkA-yJY5eWDgS91TzQ" target="_blank" class="nav-link btn btn-lg btn-youtube">
      <svg class="icon icon-youtube icon-sm" role="img">
        <use href="#icon-youtube" xlink:href="#icon-youtube"></use>
      </svg>
    </a>
  </li>
  <li class="nav-item">
    <a href="#microformats" class="nav-link taglink color-brand">Коротко</a>
  </li>
  <li class="nav-item">
    <a href="#tag/audio/" class="nav-link taglink color-brand">Аудио</a>
  </li>
  <li class="nav-item">
    <a href="#tag/vojna/" class="nav-link taglink tag-cloud-link tag-link-241 tag-link-position-1">война</a>
  </li>
  <li class="nav-item">
    <a href="#tag/vlast/" class="nav-link taglink tag-cloud-link tag-link-958 tag-link-position-2">власть</a>
  </li>
  <li class="nav-item">
    <a href="#tag/seks/" class="nav-link taglink tag-cloud-link tag-link-113 tag-link-position-3">секс</a>
  </li>
  <li class="nav-item hidden-xl-down">
    <a href="#tag/krov/" class="nav-link taglink tag-cloud-link tag-link-399 tag-link-position-4">кровь</a>
  </li>
  <li class="nav-item hidden-xl-down">
    <a href="#tag/prestupleniya/"
       class="nav-link taglink tag-cloud-link tag-link-93 tag-link-position-5">преступления</a>
  </li>
  <li data-component="modal" data-target="#all-tags" class="nav-item">
    <a class="nav-link" href="#"><span class="btn btn-sm-alt btn-primary">•••</span></a>
  </li>
</ul>
</nav>
