<div class="row hidden-lg-up" aria-hidden="true">

  <span class="col h1 siteHeader-header">новое на WAS</span>
  <div class="swiper-container slider slider-carousel col" data-component="slider"
       data-config="popular">
    <div class="swiper-wrapper">

      <div class="swiper-slide">

        <div id="post-7494"
             class="post-preview col o-1 format-wide post-7494 post type-post status-publish format-standard has-post-thumbnail hentry category-games tag-19-vek tag-20-vek tag-test tag-avstralija tag-velikobritaniya tag-vtoraja-mirovaja tag-igra">


          <img width="162" height="267"
               src="https://was.imgix.net/wp-content/uploads/2017/08/cower_video.jpg?fit=crop&amp;fm=pjpg&amp;h=267&amp;q=75&amp;rect=455%2C-14%2C465%2C768&amp;w=162"
               class="attachment-popular-thumbs size-popular-thumbs wp-post-image" alt=""
               data-feature="1"/>


          <section class="post-entry">
            <header class="entry-header row">

              <div class="date-entry">


              </div>

              <div class="views-entry">
                <svg class="icon icon-eye " aria-hidden="true" role="img">
                  <use href="#icon-eye" xlink:href="#icon-eye"></use>
                </svg>
                <div id="counter-data-7494">1124</div>
              </div>

            </header>

            <div class="entry-content">
              <h2 class="h5 h-entry"><a class="lnk-entry"
                                        href="http://dev.was.media.lc/2017-10-06-igra-neandertalcy/"
                                        rel="bookmark"><span class="siteHeader-header">Тест:</span>
                  Определи, насколько ты неандерталец</a></h2>

            </div>

            <footer class="entry-footer">

            </footer>

          </section>
        </div>
      </div>
      <div class="swiper-slide">

        <div id="post-8782"
             class="post-preview col o-2 format-wide post-8782 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-vojna tag-moreplavanie tag-piraty tag-religija tag-severnaja-afrika tag-usa">


          <img width="162" height="267"
               src="https://was.imgix.net/wp-content/uploads/2017/08/cowerWAS_korsary-allaha_was_01.jpg?fit=crop&amp;fm=pjpg&amp;h=267&amp;q=75&amp;rect=522%2C-23%2C873%2C1439&amp;w=162"
               class="attachment-popular-thumbs size-popular-thumbs wp-post-image" alt=""
               data-feature="1"/>


          <section class="post-entry">
            <header class="entry-header row">

              <div class="date-entry">


              </div>

              <div class="views-entry">
                <svg class="icon icon-eye " aria-hidden="true" role="img">
                  <use href="#icon-eye" xlink:href="#icon-eye"></use>
                </svg>
                <div id="counter-data-8782">1059</div>
              </div>

            </header>

            <div class="entry-content">
              <h2 class="h5 h-entry"><a class="lnk-entry"
                                        href="http://dev.was.media.lc/2017-08-15-korsary-allaha/"
                                        rel="bookmark">Это случилось, когда США надоело платить дань
                  пиратам</a></h2>
              <span style="display: block"><svg class="icon icon-audio icon-lg" aria-hidden="true"
                                                role="img"> <use href="#icon-audio"
                                                                 xlink:href="#icon-audio"></use> </svg></span>
            </div>

            <footer class="entry-footer">

            </footer>

          </section>
        </div>
      </div>
      <div class="swiper-slide">

        <div id="post-8667"
             class="post-preview col o-3 format-wide post-8667 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-20-vek tag-ljubov tag-prestupleniya tag-psihologija tag-seks tag-shvecija">


          <img width="162" height="267"
               src="https://was.imgix.net/wp-content/uploads/2017/08/cowerwas_stokgolmskij-sindrom_01.jpg?fit=crop&amp;fm=pjpg&amp;h=267&amp;q=75&amp;rect=350%2C0%2C447%2C736&amp;w=162"
               class="attachment-popular-thumbs size-popular-thumbs wp-post-image" alt=""
               data-feature="1"/>


          <section class="post-entry">
            <header class="entry-header row">

              <div class="date-entry">


              </div>

              <div class="views-entry">
                <svg class="icon icon-eye " aria-hidden="true" role="img">
                  <use href="#icon-eye" xlink:href="#icon-eye"></use>
                </svg>
                <div id="counter-data-8667">2097</div>
              </div>

            </header>

            <div class="entry-content">
              <h2 class="h5 h-entry"><a class="lnk-entry"
                                        href="http://dev.was.media.lc/2017-08-14-stokgolmskij-sindrom/"
                                        rel="bookmark">Стокгольмский синдром: Жертвы любят своих
                  мучителей</a></h2>
              <span style="display: block"><svg class="icon icon-audio icon-lg" aria-hidden="true"
                                                role="img"> <use href="#icon-audio"
                                                                 xlink:href="#icon-audio"></use> </svg></span>
            </div>

            <footer class="entry-footer">

            </footer>

          </section>
        </div>
      </div>
      <div class="swiper-slide">

        <div id="post-8612"
             class="post-preview col o-4 format-wide post-8612 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-19-vek tag-prestupleniya tag-rossijskaja-imperija tag-skify tag-sokrovischa tag-ukraina tag-franciya">


          <img width="162" height="267"
               src="https://was.imgix.net/wp-content/uploads/2017/08/coverWAS_Tiara.jpg?fit=crop&amp;fm=pjpg&amp;h=267&amp;q=75&amp;rect=157%2C0%2C448%2C739&amp;w=162"
               class="attachment-popular-thumbs size-popular-thumbs wp-post-image" alt=""
               data-feature="1"/>


          <section class="post-entry">
            <header class="entry-header row">
              <div class="date-entry"></div>

              <div class="views-entry">
                <svg class="icon icon-eye " aria-hidden="true" role="img">
                  <use href="#icon-eye" xlink:href="#icon-eye"></use>
                </svg>
                <div id="counter-data-8612">761</div>
              </div>
            </header>

            <div class="entry-content">
              <h2 class="h5 h-entry"><a class="lnk-entry"
                                        href="http://dev.was.media.lc/2017-08-11-tiara-carja-sajtaferna/"
                                        rel="bookmark">Греческая тиара — в Лувре. Почему этим
                  гордится Одесса?</a></h2>
              <span style="display: block"><svg class="icon icon-audio icon-lg" aria-hidden="true"
                                                role="img"> <use href="#icon-audio"
                                                                 xlink:href="#icon-audio"></use> </svg></span>
            </div>

            <footer class="entry-footer"></footer>

          </section>
        </div>
      </div>
      <div class="swiper-slide">

        <div id="post-8552"
             class="post-preview col o-5 format-wide post-8552 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-19-vek tag-genii tag-dujeli tag-evropa tag-kino tag-krov tag-literatura tag-hudozhniki">


          <img width="162" height="267"
               src="https://was.imgix.net/wp-content/uploads/2017/08/coverWAS_Dueli_03.jpg?fit=crop&amp;fm=pjpg&amp;h=267&amp;q=75&amp;rect=587%2C247%2C1072%2C1767&amp;w=162"
               class="attachment-popular-thumbs size-popular-thumbs wp-post-image" alt="123"
               data-feature="1"/>


          <section class="post-entry">
            <header class="entry-header row">

              <div class="date-entry"></div>

              <div class="views-entry">
                <svg class="icon icon-eye " aria-hidden="true" role="img">
                  <use href="#icon-eye" xlink:href="#icon-eye"></use>
                </svg>
                <div id="counter-data-8552">927</div>
              </div>

            </header>

            <div class="entry-content">
              <h2 class="h5 h-entry"><a class="lnk-entry"
                                        href="http://dev.was.media.lc/2017-08-10-dueli-avtorov-i-kritikov/"
                                        rel="bookmark">За слова ответишь! Как авторы мстили
                  критикам</a></h2>

            </div>

            <footer class="entry-footer">

            </footer>

          </section>
        </div>
      </div>
      <div class="swiper-slide">

        <div id="post-8488"
             class="post-preview col o-6 format-wide post-8488 post type-post status-publish format-standard has-post-thumbnail hentry category-vse">


          <img width="162" height="267"
               src="https://was.imgix.net/wp-content/uploads/2017/08/cower_video_01.jpg?fit=crop&amp;fm=pjpg&amp;h=267&amp;q=75&amp;rect=628%2C0%2C654%2C1078&amp;w=162"
               class="attachment-popular-thumbs size-popular-thumbs wp-post-image" alt=""
               data-feature="1"/>


          <section class="post-entry">
            <header class="entry-header row">

              <div class="date-entry"></div>

              <div class="views-entry">
                <svg class="icon icon-eye " aria-hidden="true" role="img">
                  <use href="#icon-eye" xlink:href="#icon-eye"></use>
                </svg>
                <div id="counter-data-8488">359</div>

              </div>

            </header>

            <div class="entry-content">
              <h2 class="h5 h-entry"><a class="lnk-entry"
                                        href="http://dev.was.media.lc/2017-08-09-was-luchshee-video/"
                                        rel="bookmark">Лучшее видео WAS</a></h2>

            </div>

            <footer class="entry-footer">

            </footer>

          </section>
        </div>
      </div>
      <div class="swiper-slide">

        <div id="post-8395"
             class="post-preview col o-7 format-wide post-8395 post type-post status-publish format-image has-post-thumbnail hentry category-vse tag-aborigeny tag-vojna tag-rossijskaja-imperija tag-rossija tag-sibir post_format-post-format-image">


          <img width="162" height="267"
               src="https://was.imgix.net/wp-content/uploads/2017/08/coverWAS_Сhukchi-1.jpg?fit=crop&amp;fm=pjpg&amp;h=267&amp;q=75&amp;rect=335%2C0%2C448%2C739&amp;w=162"
               class="attachment-popular-thumbs size-popular-thumbs wp-post-image" alt=""
               data-feature="1"/>


          <section class="post-entry">
            <header class="entry-header row">

              <div class="date-entry">


              </div>

              <div class="views-entry">

                <svg class="icon icon-eye " aria-hidden="true" role="img">
                  <use href="#icon-eye" xlink:href="#icon-eye"></use>
                </svg>

                <div id="counter-data-8395">30230</div>

              </div>

            </header>

            <div class="entry-content">
              <h2 class="h5 h-entry"><a class="lnk-entry"
                                        href="http://dev.was.media.lc/2017-08-09-chukchi/"
                                        rel="bookmark">В Российской империи не смеялись над чукчами,
                  и вот почему</a></h2>

            </div>

            <footer class="entry-footer">

            </footer>

          </section>
        </div>
      </div>
      <div class="swiper-slide">

        <div id="post-8332"
             class="post-preview col o-8 format-wide post-8332 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-19-vek tag-vojna tag-napoleon tag-paragvaj tag-politics tag-juzhnaja-amerika">


          <img width="162" height="267"
               src="https://was.imgix.net/wp-content/uploads/2017/08/coverWAS_Napoleon.png?auto=format&amp;crop=faces&amp;fit=crop&amp;h=267&amp;q=75&amp;w=162"
               class="attachment-popular-thumbs size-popular-thumbs wp-post-image" alt=""
               data-feature="1"/>


          <section class="post-entry">
            <header class="entry-header row">

              <div class="date-entry"></div>

              <div class="views-entry">

                <svg class="icon icon-eye " aria-hidden="true" role="img">
                  <use href="#icon-eye" xlink:href="#icon-eye"></use>
                </svg>

                <div id="counter-data-8332">1816</div>
              </div>

            </header>

            <div class="entry-content">
              <h2 class="h5 h-entry"><a class="lnk-entry"
                                        href="http://dev.was.media.lc/2017-08-08-6-sposobov-stat-napoleonom-sovety-lopesa/"
                                        rel="bookmark">6 способов подражать Наполеону и погубить
                  свою страну</a></h2>

            </div>

            <footer class="entry-footer">

            </footer>

          </section>
        </div>
      </div>
      <div class="swiper-slide">

        <div id="post-8307"
             class="post-preview col o-9 format-wide post-8307 post type-post status-publish format-standard has-post-thumbnail hentry category-vse tag-byt tag-drevnij-rim tag-egipet tag-kievskaja-rus tag-kitaj tag-medicina tag-seks">


          <img width="162" height="267"
               src="https://was.imgix.net/wp-content/uploads/2017/08/cowerwas_drevnie-testy-na-beremennost_03.jpg?fit=crop&amp;fm=pjpg&amp;h=267&amp;q=75&amp;rect=602%2C0%2C918%2C1513&amp;w=162"
               class="attachment-popular-thumbs size-popular-thumbs wp-post-image" alt=""
               data-feature="1"/>


          <section class="post-entry">
            <header class="entry-header row">

              <div class="date-entry"></div>

              <div class="views-entry">

                <svg class="icon icon-eye " aria-hidden="true" role="img">
                  <use href="#icon-eye" xlink:href="#icon-eye"></use>
                </svg>

                <div id="counter-data-8307">2192</div>

              </div>

            </header>

            <div class="entry-content">
              <h2 class="h5 h-entry"><a class="lnk-entry"
                                        href="http://dev.was.media.lc/2017-08-07-drevnie-testy-na-beremennost/"
                                        rel="bookmark">5 древних способов определить беременность и
                  пол ребенка</a></h2>

            </div>

            <footer class="entry-footer">

            </footer>

          </section>
        </div>
      </div>

    </div>
  </div>

</div>
