<div id="was-search">
  <form role="search" method="get" class="search-form form-inline" action="/">
    <input type="search" id="search-form-5bbb3c52504d0" class="form-control search-control"
           placeholder="Поиск..." value=""
           required="required" name="s"/>
    <button type="submit" class="search-submit btn btn-brand btn-round-none">Найти</button>
  </form>
</div>
