<a href="#telegram" target="_blank" rel="dofollow noopener"
   class="media-icons btn btn-sm btn-secondary" role="button" aria-pressed="true">
  <svg class="icon icon-tlg icon-md" aria-hidden="true" role="img">
    <use href="#icon-tlg" xlink:href="#icon-tlg"></use>
  </svg>
</a>
<a href="#facebook" target="_blank" rel="dofollow noopener"
   class="media-icons btn btn-sm btn-secondary" role="button" aria-pressed="true">
  <svg class="icon icon-fb icon-md" aria-hidden="true" role="img">
    <use href="#icon-fb" xlink:href="#icon-fb"></use>
  </svg>
</a>
<a href="https://twitter.com/was_dot_media" target="_blank" rel="dofollow noopener"
   class="media-icons btn btn-sm btn-secondary" role="button" aria-pressed="true">
  <svg class="icon icon-wasted icon-md" aria-hidden="true" role="img">
    <use href="#icon-wasted" xlink:href="#icon-wasted"></use>
  </svg>
</a>
<a href="#itunes" target="_blank" rel="dofollow noopener"
   class="media-icons btn btn-sm btn-secondary" role="button" aria-pressed="true">
  <svg class="icon icon-itunes icon-md" aria-hidden="true" role="img">
    <use href="#icon-itunes" xlink:href="#icon-itunes"></use>
  </svg>
</a>
