<a href="https://www.facebook.com/sharer/sharer.php?u=https://was.media"
   class="media-icons btn btn-fb btn-lg btn-block col" role="button" aria-pressed="true"
   data-component="link">
  <svg class="icon icon-xs" aria-hidden="true" role="img">
    <use href="#icon-fb" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fb"></use>
  </svg>
  Facebook
</a>

<a data-component="link" href="https://was.media"
   class="media-icons btn btn-tlg btn-lg btn-block col"
   target="_blank" role="button" aria-pressed="true">
  <svg class="icon icon-xs" aria-hidden="true" role="img">
    <use href="#icon-tlg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tlg"></use>
  </svg>
  Telegram
</a>

<a href="http://twitter.com/share?url=https://was.media" class="media-icons btn btn-wasted btn-lg
 btn-block col" role="button" aria-pressed="true" data-component="link">
  <svg class="icon icon-sm" aria-hidden="true" role="img">
    <use href="#icon-wasted" xmlns:xlink="http://www.w3.org/1999/xlink"
         xlink:href="#icon-wasted"></use>
  </svg>
  Twitter
</a>
