.accordion {
  cursor: pointer;
  transition: 0.4s;

  .icon {
    transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  }

  &.active {
    .icon {
      transform: rotate(180deg);
    }
  }
}

.panel {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 2rem;
  transition: max-height 0.25s cubic-bezier(0, 0, 0.2, 1);
}
