@import '../scss/base/variables';
@import '../../node_modules/bootstrap/scss/mixins';

.tingle-modal {
  z-index: $zindex-modal;
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease-in-out;

  &-box {
    width: 100%;
    border-radius: 0;
    background-color: transparent;

    &__content {
      @include media-breakpoint-down(sm) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  &__close {
    background-color: transparent;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* modal
-------------------------------------------------------------- */
.modal-primary {
  .tingle-modal-box {
    max-width: 980px;
    @include media-breakpoint-up(lg) {
      width: 60%;
    }
  }
}
