.amp-aside-article-content {
  background-color: $gray-light;
  padding: $spacer $spacer $spacer/2;
  border-radius: $border-radius-sm;
  margin-left: $spacer;
  margin-bottom: $spacer;
  margin-right: $spacer;
  position: relative;

  h4,
  p {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
