/* AMP Media */
.editor_media {
  background: $gray-lighter;
  margin: $spacer * 3 0;
  padding: 0 0 $spacer * 1.5 0;
}

.amp-wp-article-content amp-carousel amp-img {
  border: none;
}

amp-carousel > amp-img > img {
  object-fit: contain;
}

figcaption {
  margin: $spacer/2 0 0 20px;
}

.amp-wp-iframe-placeholder {
  //background: red url( ) no-repeat center 40%;
  background-size: 48px 48px;
  min-height: 48px;
}

.amp-wp-article-content .wp-post-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.amp-wp-unknown-size img {
  /** Worst case scenario when we can't figure out dimensions for an image. **/
  /** Force the image into a box of fixed dimensions and use object-fit to scale. **/
  object-fit: contain;
}

.amp-carousel-counter {
  text-align: center;
  padding-top: 10px;
}

/* Captions */
/* .wp-caption {
	padding: 0;
}

.wp-caption.alignleft {
	margin-right: 16px;
}

.wp-caption.alignright {
	margin-left: 16px;
} */

/* .wp-caption .wp-caption-text {
	border-bottom: 1px solid red;
	color: pink;
	font-size: .875em;
	line-height: 1.5em;
	margin: 0;
	padding: .66em 10px .75em;
} */
