p,
ol,
ul,
figure {
  margin: 0 0 1em;
  padding: 0;
}

a {
  color: #FF5F2F;
}

a:hover,
a:active,
a:focus {
  color: black;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin-bottom: $headings-margin-bottom;
  margin-top: 0;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  color: $headings-color;
  letter-spacing: $headings-letter-spacing;
  text-transform: $font-transform;
}

h1,
.h1 {
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

/* Quotes */

blockquote {
  font-size: $blockquote-font-size / 1.5;
  color: $blockquote-small-color;
  text-transform: $blockquote-text-transform;
  line-height: $blockquote-line-height;
  margin: $blockquote-margin-y 0;
  font-weight: $headings-font-weight * 2;
  font-family: $headings-font-family;
}

blockquote p:last-child {
  margin-bottom: 0;
}

code {
  font-family: $font-family-base;
}
