//$headings-font-family:  'DINPro-CondensedBold';

// Get content width
$content_max_width: 600px;

// Get template colors
/* $theme_color: $body-bg;
$text_color: $black;
$muted_text_color:;
$border_color:;
$link_color:;
$header_background_color: ;
$header_color: ; */
