<a class="siteLogo_lnk wasLogo" on="tap:sidebar.toggle" {{ amp_brand_url }}
   data-component="overlay" data-target="header" data-toggle="close" rel="home">
    <img src="/wp-content/themes/wasmedia/assets/img/new/logo.png" alt="WAS" style="height: 80px; width: auto;">
</a>

{% if (not is_hidden) %}
    <a href="https://ru.depositphotos.com/" class="siteLogo_lnk depoLogo" target="_blank" rel="dofollow noopener">by&nbsp;depositphotos</a>
{% endif %}