<a href="https://www.facebook.com/sharer/sharer.php?u={{ was_share_content_url | url_encode }}"
   class="media-icons btn btn-fb btn-lg btn-block col" role="link" aria-pressed="true"
   target="_blank" rel="noopener noreferrer"
   data-component="link">
    <svg class="icon icon-xs" aria-hidden="true" role="img">
        <use href="#icon-fb" xmlns:xlink="http://www.w3.org/1999/xlink"
             xlink:href="#icon-fb"></use>
    </svg>
    Facebook
</a>

{% set telegram_url = "https://t.me/share/url?url=" ~ was_share_content_url | url_encode %}
{% set telegram_url = (was_share_content_text != '') ? telegram_url ~ "&text=" ~ was_share_content_text : telegram_url %}

<a data-component="link" href="{{ telegram_url }}"
   class="media-icons btn btn-tlg btn-lg btn-block col"
   rel="noopener noreferrer" target="_blank" role="link" aria-pressed="true">
    <svg class="icon icon-xs" aria-hidden="true" role="img">
        <use href="#icon-tlg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tlg"></use>
    </svg>
    Telegram
</a>

<a href="http://twitter.com/share?url={{ was_share_content_url | url_encode }}"
   class="media-icons btn btn-wasted btn-lg btn-block col" role="link" aria-pressed="true"
   rel="noopener noreferrer"
   target="_blank"
   data-component="link">
    <svg class="icon icon-sm" aria-hidden="true" role="img">
        <use href="#icon-wasted" xmlns:xlink="http://www.w3.org/1999/xlink"
             xlink:href="#icon-wasted"></use>
    </svg>
    Twitter
</a>