<h6 class="siteLogo">
    <a class="siteLogo_lnk wasLogo" {{ amp_brand_url }} rel="home">
        <img src="/wp-content/themes/wasmedia/assets/img/new/logo.png" alt="WAS" style="height: 45px; width: auto;">
    </a>
</h6>

<p>© {{ function('date', 'Y') }}.
    WAS. {{ function('pll__', 'Все права защищены.<br> Любое использование материалов<br> допускается только с согласия редакции') }}</p>