.answer {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

}

.answer .title,
.answer .text {
  margin-bottom: 1.5em;
  user-select: text;
}

.answer .text {
  font-size: .9em;
}

.answer.success .title {
  color: rgba(30, 220, 120, 1);
}

.answer.fail .title {
  color: #ff0000;
}

@media (min-width: 992px) {
  .answer {
    padding: 32px 15px;
  }

  .answer .title,
  .answer .text {
    margin-bottom: 2em;
  }
}
