button,
.btn {
  cursor: pointer;
  color: #ff7b00;
  position: relative;
}

button:before,
button::before,
.btn:before,
.btn::before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-icon {
  background: transparent;
  padding: 0;
}

.btn.next {
  display: inline-block;
  font-family: DINPro-CondensedBold, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  padding: .7rem 1.4rem;
  font-size: 1rem;
  transition: all .2s ease-in-out;
  border-radius: 2rem;
  color: #000;
  background-color: #e4e4e4;
}

.btn[disabled=""] {
  opacity: .2;
  cursor: not-allowed;
}
