.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 .5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row {
  width: calc(100% + 1em);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -.5em;
}

/*.inner {*/
/*padding: .75em 0;*/
/*}*/

*[class*=col] {
  width: 100%;
  padding: 0 .5em;
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-3,
.col-xs-1 {
  width: calc((100% / 12) * 3);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-5 {
  width: calc((100% / 12) * 5);
}

.col-6,
.col-xs-2 {
  width: calc((100% / 12) * 6);
}

.col-7 {
  width: calc((100% / 12) * 7);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-9,
.col-xs-3 {
  width: calc((100% / 12) * 9);
}

.col-10 {
  width: calc((100% / 12) * 10);
}

.col-11 {
  width: calc((100% / 12) * 11);
}

.col-12,
.col-xs-4 {
  width: 100%;
}

.col-push-0,
.col-push-xs-0 {
  margin-left: 0;
}

.col-push-1 {
  margin-left: calc(100% / 12);
}

.col-push-2 {
  margin-left: calc((100% / 12) * 2);
}

.col-push-3,
.col-push-xs-1 {
  margin-left: calc((100% / 12) * 3);
}

.col-push-4 {
  margin-left: calc((100% / 12) * 4);
}

.col-push-5 {
  margin-left: calc((100% / 12) * 5);
}

.col-push-6,
.col-push-xs-2 {
  margin-left: calc((100% / 12) * 6);
}

.col-push-7 {
  margin-left: calc((100% / 12) * 7);
}

.col-push-8 {
  margin-left: calc((100% / 12) * 8);
}

.col-push-9,
.col-push-xs-3 {
  margin-left: calc((100% / 12) * 9);
}

.col-push-10 {
  margin-left: calc((100% / 12) * 10);
}

.col-push-11 {
  margin-left: calc((100% / 12) * 11);
}

.col-push-12,
.col-push-xs-4 {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: calc(576px - 1em);
  }

  .col-sm-1 {
    width: calc(100% / 8);
  }

  .col-sm-2 {
    width: calc((100% / 8) * 2);
  }

  .col-sm-3 {
    width: calc((100% / 8) * 3);
  }

  .col-sm-4 {
    width: calc((100% / 8) * 4);
  }

  .col-sm-5 {
    width: calc((100% / 8) * 5);
  }

  .col-sm-6 {
    width: calc((100% / 8) * 6);
  }

  .col-sm-7 {
    width: calc((100% / 8) * 7);
  }

  .col-sm-8 {
    width: calc((100% / 8) * 8);
  }

  *[class="col-push-xs-"] {
    margin-left: 0;
  }

  .col-push-sm-0 {
    margin-left: 0;
  }

  .col-push-sm-1 {
    margin-left: calc(100% / 8);
  }

  .col-push-sm-2 {
    margin-left: calc((100% / 8) * 2);
  }

  .col-push-sm-3 {
    margin-left: calc((100% / 8) * 3);
  }

  .col-push-sm-4 {
    margin-left: calc((100% / 8) * 4);
  }

  .col-push-sm-5 {
    margin-left: calc((100% / 8) * 5);
  }

  .col-push-sm-6 {
    margin-left: calc((100% / 8) * 6);
  }

  .col-push-sm-7 {
    margin-left: calc((100% / 8) * 7);
  }

  .col-push-sm-8 {
    margin-left: calc((100% / 8) * 8);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: calc(768px - 1em);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: calc(992px - 1em);
    padding: 0 1em;
  }

  .row {
    margin: 0 -1em;
  }

  *[class*=col] {
    padding: 0 1em;
  }

  /*.inner {*/
  /*padding: 1.25em 0;*/
  /*}*/
  .col-md-1 {
    width: calc(100% / 12);
  }

  .col-md-2 {
    width: calc((100% / 12) * 2);
  }

  .col-md-3 {
    width: calc((100% / 12) * 3);
  }

  .col-md-4 {
    width: calc((100% / 12) * 4);
  }

  .col-md-5 {
    width: calc((100% / 12) * 5);
  }

  .col-md-6 {
    width: calc((100% / 12) * 6);
  }

  .col-md-7 {
    width: calc((100% / 12) * 7);
  }

  .col-md-8 {
    width: calc((100% / 12) * 8);
  }

  .col-md-9 {
    width: calc((100% / 12) * 9);
  }

  .col-md-10 {
    width: calc((100% / 12) * 10);
  }

  .col-md-11 {
    width: calc((100% / 12) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  *[class*="col-push-sm-"] {
    margin-left: 0;
  }

  .col-push-md-0 {
    margin-left: 0;
  }

  .col-push-md-1 {
    margin-left: calc(100% / 12);
  }

  .col-push-md-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .col-push-md-3 {
    margin-left: calc((100% / 12) * 3);
  }

  .col-push-md-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .col-push-md-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .col-push-md-6 {
    margin-left: calc((100% / 12) * 6);
  }

  .col-push-md-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .col-push-md-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .col-push-md-9 {
    margin-left: calc((100% / 12) * 9);
  }

  .col-push-md-10 {
    margin-left: calc((100% / 12) * 10);
  }

  .col-push-md-11 {
    margin-left: calc((100% / 12) * 11);
  }

  .col-push-md-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: calc(1200px - 1em);
  }
}

@media (min-width: 1360px) {
  .container {
    max-width: calc(1360px - 1em);
  }

  .col-lg-1 {
    width: calc(100% / 12);
  }

  .col-lg-2 {
    width: calc((100% / 12) * 2);
  }

  .col-lg-3 {
    width: calc((100% / 12) * 3);
  }

  .col-lg-4 {
    width: calc((100% / 12) * 4);
  }

  .col-lg-5 {
    width: calc((100% / 12) * 5);
  }

  .col-lg-6 {
    width: calc((100% / 12) * 6);
  }

  .col-lg-7 {
    width: calc((100% / 12) * 7);
  }

  .col-lg-8 {
    width: calc((100% / 12) * 8);
  }

  .col-lg-9 {
    width: calc((100% / 12) * 9);
  }

  .col-lg-10 {
    width: calc((100% / 12) * 10);
  }

  .col-lg-11 {
    width: calc((100% / 12) * 11);
  }

  .col-lg-12 {
    width: 100%;
  }

  *[class*="col-push-md-"] {
    margin-left: 0;
  }

  .col-push-lg-0 {
    margin-left: 0;
  }

  .col-push-lg-1 {
    margin-left: calc(100% / 12);
  }

  .col-push-lg-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .col-push-lg-3 {
    margin-left: calc((100% / 12) * 3);
  }

  .col-push-lg-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .col-push-lg-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .col-push-lg-6 {
    margin-left: calc((100% / 12) * 6);
  }

  .col-push-lg-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .col-push-lg-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .col-push-lg-9 {
    margin-left: calc((100% / 12) * 9);
  }

  .col-push-lg-10 {
    margin-left: calc((100% / 12) * 10);
  }

  .col-push-lg-11 {
    margin-left: calc((100% / 12) * 11);
  }

  .col-push-lg-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1640px) {
  .col-xl-1 {
    width: calc(100% / 12);
  }

  .col-xl-2 {
    width: calc((100% / 12) * 2);
  }

  .col-xl-3 {
    width: calc((100% / 12) * 3);
  }

  .col-xl-4 {
    width: calc((100% / 12) * 4);
  }

  .col-xl-5 {
    width: calc((100% / 12) * 5);
  }

  .col-xl-6 {
    width: calc((100% / 12) * 6);
  }

  .col-xl-7 {
    width: calc((100% / 12) * 7);
  }

  .col-xl-8 {
    width: calc((100% / 12) * 8);
  }

  .col-xl-9 {
    width: calc((100% / 12) * 9);
  }

  .col-xl-10 {
    width: calc((100% / 12) * 10);
  }

  .col-xl-11 {
    width: calc((100% / 12) * 11);
  }

  .col-xl-12 {
    width: 100%;
  }

  *[class*="col-push-lg-"] {
    margin-left: 0;
  }

  .col-push-xl-0 {
    margin-left: 0;
  }

  .col-push-xl-1 {
    margin-left: calc(100% / 12);
  }

  .col-push-xl-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .col-push-xl-3 {
    margin-left: calc((100% / 12) * 3);
  }

  .col-push-xl-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .col-push-xl-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .col-push-xl-6 {
    margin-left: calc((100% / 12) * 6);
  }

  .col-push-xl-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .col-push-xl-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .col-push-xl-9 {
    margin-left: calc((100% / 12) * 9);
  }

  .col-push-xl-10 {
    margin-left: calc((100% / 12) * 10);
  }

  .col-push-xl-11 {
    margin-left: calc((100% / 12) * 11);
  }

  .col-push-xl-12 {
    margin-left: 100%;
  }
}
