.group {
  display: flex;
  justify-content: flex-start;
}

.group-vertical {
  flex-direction: column;
}

.group-horizontal {
  flex-direction: row;
}

.group-align-center {
  justify-content: center;
}
