.modal {
  position: absolute;
  z-index: 10;
  left: 64px;
  top: 0;
  background: #181818;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  color: #fff;
  transition: opacity .2s ease-out;
  pointer-events: none;
}

.modal.expand {
  width: calc(100% - 128px);
  height: 100%;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal .container {
  min-width: 0;
}

@media (orientation: portrait) {
  .modal {
    left: 0;
  }

  .modal.expand {
    width: 100%;
    padding: 0 1em;
  }
}
