#shareReadMore{
	display: block;
	width: 100%;
	padding: 0.75rem 2rem;
	font-size: 1.5rem;
	border-radius: 2rem;
	border: 2px solid #ff7b00;
	color: black;
	background-color: white;
	&:hover,
	&:active{
		color: white;
		background-color: #ff7b00;
	}
}

#moreContainer {
	visibility: hidden;
	height: 0;
	opacity: 0;
	transition: all .5s linear;

	@media (min-width: 768px) {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&.active {
		visibility: visible;
		opacity: 1;
		height: 100%;
	}

	.list-wrapper__custom {
		position: relative;
		padding: 20px;
		border: solid 1px black;

		&-title {
			font-family: "DinCondensed","Roboto","Helvetica Neue",Arial,sans-serif;
			font-size: 2rem;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1;
			margin: 0;
		}

		&-description {
			font-size: 1rem;
			font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
		}

		&-img {
			position: absolute;
			right: 0;
			bottom: 20px;
			width: 36px;
			height: 36px;
		}

		@media (min-width: 768px) {
			$image-size: 72px;

			width: calc(100% - #{$image-size});

			&:nth-child(even){
				align-self: normal;
				.list-wrapper__custom-img{
					left: unset;
					right: -1 - $image-size;
				}
			}

			&-img {
				top: -1px;
				left: -1-$image-size;
				width: $image-size;
				height: $image-size;
			}
		}
	}


}