MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_DATABASE=was
MYSQL_USER=was
MYSQL_PASSWORD=change-me-db

WORDPRESS_DB_HOST=was_mysql80:3306
WORDPRESS_DB_NAME=was
WORDPRESS_DB_USER=was
WORDPRESS_DB_PASSWORD=change-me-db

# Redis / cache
WP_REDIS_HOST=was_redis
WP_REDIS_PORT=6379

# CDN
CDN_DOMAIN=cdn.was.media
IS_CDN_ENABLED=mirror

# Toggle dev/prod flags
WP_DEBUG=false
IS_DEV=false

