#disqus_thread {
  padding: $spacer * 3 0;
}

.comments-fixer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  width: 100%;
  z-index: 1;
  background: $white;

  :empty {
    display: none;
  }
}
