.layout_aside {
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;

    .editor_default {
      order: 0;
    }
  }
}

.editor_aside {
  align-self: center;
  padding-top: $spacer * 2.6;
  padding-bottom: $spacer * 2;
  @include media-breakpoint-up(lg) {
    float: right;
    position: relative;
    z-index: 1;
    width: 100%;
  }

  img {
    @include img-fluid();
    object-fit: cover;
    object-position: center center;
  }

  .icon {
    @include media-breakpoint-down(md) {
      float: left;
    }
  }

  blockquote {
    margin: 0;
    left: 0;
    font-size: $blockquote-font-size - 0.5rem;
  }

  h3 {
    margin-top: 0;
    color: $brand-primary;
  }

  h4 {
    font-size: $font-size-xxl;
  }

  a {
    text-decoration: $link-hover-decoration;
    &:hover {
      text-decoration: $link-decoration;
    }
  }
}

.icons_aside {
  h5 {
    font-size: $display2-size;
  }
  .icon-underline {
    margin-top: -90px;
  }
  .icon-quote-right {
    margin-bottom: $spacer / 2;
    transform: rotate(180deg);
    float: none;
  }
}

.chronology_aside {
  @include media-breakpoint-down(md) {
    padding-top: $spacer * 4;
    margin-left: $spacer * 2;
    padding-bottom: 0;
  }
}

.chrono_i {
  border-left: 10px solid $brand-primary;
  padding: 0 0 $spacer * 2 $spacer * 1.5;
  margin-bottom: 0;
  position: relative;

  > {
    * {
      position: relative;
      top: -$spacer * 2;
    }
  }

  strong {
    font-size: $display4-size - 0.3rem;
    font-family: $headings-font-family;
    letter-spacing: $headings-letter-spacing;
    line-height: $headings-line-height;
  }

  &:before {
    content: '';
    height: 10px;
    width: 25px;
    position: absolute;
    display: block;
    top: -$spacer * 2.5;
    left: -10px;
    top: 0;
    background-color: $brand-primary;
  }

  &:last-child {
    border-color: transparent;
  }
}

.incut_aside {
  background-color: $gray-light;
  padding: 1.5rem 1.5rem 1rem;
  border-radius: $border-radius-sm;
  position: relative;

  @include media-breakpoint-down(md) {
    margin: 1rem 0 2rem;
    max-width: 590px;
  }
}

.aside_left {
  @include media-breakpoint-down(md) {
    padding-top: $spacer;
    padding-bottom: 0;
    margin-bottom: -$spacer;
    align-self: flex-start;
    order: 0;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
  @include media-breakpoint-up(xl) {
    text-align: right;
    float: left;
    margin-left: -2%;
    max-width: 140px;
  }
}

.incut_attention {
  background-color: $black;
  line-height: 1.3;
  position: absolute;
  font-size: inherit;
  left: -10px;
  top: -10px;
  color: white;
}
