.search-form {
  .search-control {
    width: calc(100% - 100px);
  }

  .search-submit {
    width: 100px;
  }
}

.modal-primary {
  .search-control {
    background-color: transparent;
    border-bottom: 1px solid $white;
    margin-bottom: 1px;
    color: $white;
    &::placeholder {
      color: $input-color-placeholder-alt;
    }
  }
}

.js {
  .wrapper > #was-search {
    opacity: 0;
  }
}
