.article_meta_tags {
  .tags-navbar {
    @include media-breakpoint-up(md) {
      margin-left: -10px;
    }
    padding-left: 0;
    padding-right: 0;
    &:empty {
      display: none;
    }
  }
}

.tags-navbar .navbar-nav {
  flex-direction: row;
  flex-wrap: wrap;

  .nav-link {
    padding: 0 $nav-link-padding-alt;
  }
}

.tag-top {
  .editor_media {
    padding-top: $spacer/3;
  }
  .editor_default h3 {
    @include media-breakpoint-up(lg) {
      padding-top: $spacer * 4;
    }
  }
  .aside_left {
    @include media-breakpoint-up(md) {
      padding-top: $spacer * 2;
    }
  }
}
