.swiper {
  &-default {
    &.fullsize-slider {
      padding-top: 0.5rem;
      padding-bottom: 2rem;

      .swiper-pagination {
        max-width: 765px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .swiper-slide {
      min-height: 200px;

      &:nth-child(2n) {
        min-height: 300px;
      }
    }

    .pagination-thumb-bullets {
      position: relative;
      text-align: left;
      margin-bottom: 5px;
      display: flex;
    }

    .swiper-pagination-bullet {
      width: 100%;
      height: 100%;
      max-width: 108px;
      border-radius: 0;
      opacity: 0.9;
      background: transparent;
      border: 5px solid transparent;

      &-active {
        border-color: #ff7b00;
      }
    }
  }

  &-elastic {
    max-width: 660px;
    margin-left: 0;

    .post-preview {
      padding: 0;
      max-width: 320px;
    }
  }
}
