.dark-theme {
  .siteHeader:not(._open),
  .article-main .layout_main,
  .article_comment .layout_main {
    background-color: $white;
  }

  .site-main {
    background-color: $gray-dark;
  }

  .article-main figure .layout_main {
    background-color: $gray-dark;

    figcaption {
      color: $gray-light;
    }
  }

  .article-cover {
    .layout_main {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.no-cover {
    .article-cover {
      .post-entry {
        @include media-breakpoint-up(xl) {
          @include make-col-offset(3);
        }
      }
    }
  }

  .editor_media {
    @include media-breakpoint-down(sm) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .fullsize-img {
    border-top: $spacer solid $gray-dark;
    border-bottom: $spacer * 2 solid $gray-dark;
    margin-bottom: 0;
  }

  .article_bounch .siteHeader-header {
    @include media-breakpoint-up(md) {
      margin-left: -25px;
    }
  }
}

.default-theme {
  .no-cover {
    .article-cover {
      .post-entry {
        @include media-breakpoint-up(lg) {
          @include make-col-pull(1);
        }
        @include media-breakpoint-up(md) {
          @include make-col-offset(1);
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  .editor_elastic {
    .status-future {
      .wp-post-image {
        background-color: $gray-lighter;
        height: 100%;
        min-height: 510px;
      }
    }
  }

  .editor_media {
    .fullsize-img {
      figcaption {
        padding-bottom: $spacer * 2;
      }
    }

    margin-bottom: $spacer * 2;
    background: $gray-lighter;
    @include media-breakpoint-up(md) {
      background: transparent;
      margin-bottom: 0;
    }
  }

  .custom-theme {
    &.editor_txt {
      padding: $spacer * 2 0;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer * 2;
    }
  }

  .darken-theme {
    &.editor_txt {
      padding: $spacer * 2 0;
      background-color: $gray-light;
    }

    background-color: $gray-dark;
    //color: $gray-lightest;
    @include media-breakpoint-up(md) {
      margin-bottom: $spacer * 2;
    }
  }
}
