//0 Foundation layer
// --Core variables and mixins
@import "base/variables";
@import './mixins/index';
// --Reset and dependencies
@import "../../node_modules/bootstrap/scss/_normalize";
@import "../../node_modules/bootstrap/scss/_print";
@import "../../node_modules/bootstrap/scss/_reboot";
//1 Base layer
@import "base/fonts";
@import "base/type";
@import "base/layout";
//2 Project layer
@import "project/maintenance";
