//0 Foundation layer
// --Core variables and mixins
@import 'base/variables';
@import './mixins/index';
// --Reset and dependencies
@import '../../node_modules/bootstrap/scss/_print';
@import '../../node_modules/bootstrap/scss/_reboot';
//@import 'base/main';
//1 Base layer
@import 'base/badge';
@import 'base/dropdown';
@import 'base/forms';
@import '../../node_modules/bootstrap/scss/_close';
@import 'base/overlay';
@import 'base/preloader';
//2 Project layer
@import 'project/site-main';
@import 'project/search-form';
@import 'project/breadcrumb';
@import 'project/search-page';
@import 'project/all-tags';
@import 'project/post-main';
@import 'project/newsletter';
@import 'project/read-more';
@import 'project/social-aside';
@import 'project/footer';
//3 Cosmetic layer
@import 'cosmetic/utilities';
