@import '@/scss/base/variables';

.accordion {
  &-header {
    cursor: pointer;
    padding-top: $spacer;
    padding-bottom: $spacer;
    transition: $transition-color;

    &:hover,
    &.active {
      color: $brand-primary;
    }

    &_arrow {
      float: left;
      margin-right: 9px;
      pointer-events: none;
      transform: rotate(0deg);
      transition: $transition-transform;
    }

    &.active {
      .accordion-header_arrow {
        transform: rotate(-90deg);
      }
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    transition: $transition-collapse;
    padding-left: 38px;

    &.shown {
      margin-bottom: $spacer * 2;
    }
  }
}
