@import '../../scss/base/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.cookie-dialog {
  background: $gray-lighter;
  font-weight: 500;

  &-text {
    margin: 0 20px;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }

    &-link {
      text-decoration: underline;
      color: white;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }

  &-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-open {
    .scrollToTop._show {
      bottom: 65px;
    }
  }
}
