$gray: #4d4d4d;
$gray-dark: #333;
$gray-darken: #1a1a1a;
$black: #000;
$brown: #261a1a;

$clock-shell-shadow: $gray-darken;
$clock-shell-bg: $gray;
$clock-shell-border-color: $gray;

$dot-size: 4px;
$dot-color-off: rgba(72, 36, 26, 0.77);
$dot-color-on: #fec500;

$flare-top-bg: $black;
$flare-bottom-bg: $brown;
